<h1 class="clearfix">Regions</h1>

<div class="row pie-charts">
   <ba-card *ngFor="let region of regions" 
            class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-xs-12"
            title="{{region.regionName}}"
            >
            <div class="pie-chart-item">
                 <div class="chart">
                 <span class="percent">
                    <br/>
                 </span>
                 </div>
                <div class="description">Total leagues {{region.totalLeagues}} </div>
                <div class="description-stats"><br/></div>
                <i opacityHighlight class="chart-icon i-arrow" (click)=onSelect(region)></i>              
            </div>
   </ba-card>
</div>

